h1 {
     color: rgb(135, 200, 211);
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    background-color: darkcyan;
    font-size: 22px;
    font-family: Papyrus; 
    border-style: solid;
    border-width: 2px;
    border-color:darkblue;
    border-radius: 3px;

    
}


#newinput {
    text-align: center;
}



#store {
    color: blue;
}

#lists {
    height: 30px;
}

#fullTeam {
    
    font-size: 14px;
    font-size: 200%;
    list-style-image: none;
    padding-left: 1;
    border: solid || white;
}

#deleteHeader {
    text-align: right;
    color: #999999;
}

#delete {
    float: right;
    margin-left: -100px;
    background-color: #999999;
    border: solid || white;
    color: white;
    padding: 3px 7px;
    text-align: right;
    text-decoration: bold;
    display: inline-block;
    font-size: 10px;
}

body {
    background-size: 200%;
    background-image: url(./images/pokemon_landscape_by_brainblower_d8i3udq-fullview.jpg);
    background-color: #cccccc;
  }